<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/HomePage.css'%}"> <!-- Use the same CSS file for consistent style -->
    <title>Home Page</title>
</head>

<body>
    <!-- Navigation Bar -->
    <header>
        <div class="navbar">
            <div class="navbar-container">
                <div class="navbar-brand">
                    <h1>Alumni Archive</h1>
                    <p>A Web-based System for Keeping Palawan State University Alumni Data Alive</p>
                </div>
                <nav class="navbar-links">
                    <a href="{% url 'homepage' %}" class="active">Home</a>
                    <a href="{% url 'survey' %}">Take Tracking Survey</a>
                    <a href="{% url 'about' %}">About Us</a>
                    <a href="{% url 'contact' %}">Contact Us</a>
                    <a href="{% url 'donation' %}">Donate</a>
                   
                </nav>
                <div class="navbar-profile" id="profile">
                    <span id="navbarUserName">Hello, {{request.user}}</span>
                    <img src="{% static 'img/profile.png' %}" alt="User Profile" class="avatar" id="navbarProfileImg">
                    <div class="dropdown-content" id="dropdown-menu">
                        <a href="#">
                            <i class="fas fa-user"></i> Profile
                        </a>
                        <a href="#">
                            <i class="fas fa-cog"></i> Settings
                        </a>
                        <a href="{% url 'userconfirmlogout' %}">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Picture Container -->
    <div class="slideshow-container">
        <div class="slide fade">
            <img src="{% static 'img/slide1.jpg'%}" alt="Slide 1">
        </div>
        <div class="slide fade">
            <img src="{% static 'img/slide2.jpg'%}" alt="Slide 2">
        </div>
        <div class="slide fade">
            <img src="{% static 'img/slide3.jpg'%}" alt="Slide 3">
        </div>
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
    </div>

  <!-- Main Content Section -->
  <section class="main-content">
    <h2>Latest News</h2>
    <div class="article-container">
        <div class="article">
            <a href="https://fb.watch/umNxjYIN0Y/" class="article-link">Freshmen Welcome, Orientation, at Burungitan Rites ngayong unang semestre ng taong 2024.</a>
            <hr class="article-separator">
        </div>
        <div class="article">
            <a href="https://www.facebook.com/psupalawan1965/posts/1025912709225503" class="article-link">Faculty Union Leads Free Medical Mission in Celebration of CSC Month</a>
            <hr class="article-separator">
        </div>
        <div class="article">
            <a href="https://www.facebook.com/psupalawan1965/posts/1021905149626259" class="article-link">PalawanSU Triumphs in Battle of the Bands and MIMAROPAlikula during the TES Congress 2024!</a>
        </div>
    </div>
</section>

    <footer>
        <p>&copy; 2024 Palawan State University. All rights reserved.</p>
    </footer>

    <script src="{% static 'script/HomePage.js'%}"></script> <!-- Include your slideshow script here -->
</body>

</html>
